<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <img class="imperial-logo" src="{{ 'assets/img/nerc-logo.jpeg' | relative_url }}"/>
          <img class="imperial-logo" src="{{ 'assets/img/ceh-logo.png' | relative_url }}"/>
          <img class="imperial-logo" src="{{ 'assets/img/imperial-logo.svg' | relative_url }}"/>
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
    </div>
  </footer>
