/* modifications for styling */

.site-header {
    background-color: $ic-blue;
}

/*
// Uncomment this section and add a file to `/assets/img/brand.svg` to add a logo to the title
.site-title::before {
    content: url("/assets/img/brand.svg");
    display: inline-block;
    position: relative;
    width: 40px;
    top: 7px;
    filter: invert(1);
}
*/

/* additions for custom styling */

.imperial-logo {
    max-width: 25%;
}

.profile-image {
    float: left;
    max-width: 25%;
    border-radius: 5px;
    margin-right: 1em;
}

.site-nav {
  @media screen and (min-width: $on-medium) {
    .page-link {
        color: $header-text-color !important;
    }
  }
}

.page-heading {
    display: none;
}
