$ic-blue:               #003e74 !default;
$ic-navy:               #002147 !default;
$ic-light-grey:         #ebeeee !default;
$ic-dark-grey:          #9d9d9d !default;
$ic-light-blue:         #d4effc !default;
$header-text-color:     white;
$site-title-color:      $header-text-color;
$border-color-03:       $ic-navy;
